<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848434242066-n0njjqsh97po1cdu58l1735df6euu7qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848434242066-n0njjqsh97po1cdu58l1735df6euu7qh</string>
	<key>API_KEY</key>
	<string>AIzaSyCyKj5amFfHRhnhpR37CWxUfPyeNstN7vo</string>
	<key>GCM_SENDER_ID</key>
	<string>848434242066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.r6GuideAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>r6guideapp-c0219</string>
	<key>STORAGE_BUCKET</key>
	<string>r6guideapp-c0219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848434242066:ios:517ab1d78c31a49e9daecb</string>
	<key>DATABASE_URL</key>
	<string>https://r6guideapp-c0219-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>